@import '../../variables.scss';

.interval-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    width: fit-content;
    padding: 0.2rem;
    border-radius: 5px;

    .interval-label {
        font-size: 0.9rem;
        margin: 0.3rem
    }
}

.chart-btn {
    margin: 0.5rem;
    border-radius: 5px;
    font-size: 0.9rem;
    border: none !important;
    background-color: white !important;
    box-shadow: 0px 0px 2px 2px $logo-primary-light;
}

.selected {
    box-shadow: 0px 0px 2px 2px white;
    background-color: $logo-primary-light !important;
}

.not-selected {
    color: $text-primary;
}

.max-days-note {
    font-style: italic;
    margin: 0;
    padding-top: 0;
    color: $logo-primary;
}

.past-days {
    margin: 0;
}