$logo-primary: #a316db;
$logo-primary-light: #d4bfecbb;
$logo-secondary: #c62be6;
$text-primary: rgb(104, 2, 90);
$text-primary-light: rgb(216, 138, 212);
$text-secondary: #b513bb;
$light-bg: #ebebeb;

// CoinMarketData chart
$chart-background: #eaf5ff;
$chart-border: #941cac